html{
    margin: 0px;
    padding: 0px;
}
body{
    margin: 0px;
    padding: 0px;
	 background: url(images/bg04.png) repeat #ccc;
}
#topbar{
    width:100%;
    height: 100px;
    float: left;
    background: url(images/topbg.png) repeat-x;
}
#topbar_content{
    width:1000px;
    height:100px;
    margin: auto;
}
#logo{
    width:150px;
    height: auto;
    float: left;
    margin-top: 10px;
}
#logo_content{
    width:auto;
    height: auto;
    float: right;
    margin-top: 15px;
    font-family: arial;
    font-size: 16px;
    color: #333;
    line-height: 1.5;
    text-align: right;
}
#menubar{
    width:100%;
    height: 50px;
    float: left;
    -moz-box-shadow: inset 0 0 5px #333;
-webkit-box-shadow: inset 0 0 5px#333;
box-shadow: inset 0 0 5px #333;
    background: url(images/menubg.jpg) repeat;
  
}
#menubar_content{
    width:1000px;
    height: 50px;
    margin: auto;
}
.menu{
    padding: 17px;
    padding-left: 22px;
    padding-right: 18px;
    float: left;
    color: #fff;
    font-family: arial;
    font-size:14px;
    border-right:1px solid #dedede;
}
.menu a:link,a:hover, a:active, a:visited{
 color: #fff;
 text-decoration:none;
}
#container{
    width:100%;
    height: auto;
    float: left;
}
#container_content{
    width:1000px;
    margin: auto;
}
#page{
    width:1000px;
    height: auto;
    float: left;
    min-height: 800px;
	background:#fff;
    -moz-box-shadow: 0 0 5px #888;
-webkit-box-shadow: 0 0 5px#888;
box-shadow: 0 0 5px #888;
}
#container_left{
    width:200px;
    height: auto;
    float: left;
    
    min-height: 900px;
    border-right:1px solid #dedede;
   
}
.heading{
    width:212px;
    height: 36px;
    float: left;
    margin-left: -8px;
    margin-top: 15px;
    background: url(images/heading.png);
}
h3{
    font-family: arial;
    font-size:16px;
    color: #fff;
    padding: 0px;
    margin-top: 5px;
    padding-left: 20px;
    font-weight: normal;
}
h2{
    font-family:arial;
    font-size:22px;
    font-weight: normal;
    color: #333;
    margin-top: 10px;
	background-color:#efefef;
}
h4{
    font-family: arial;
    width:98%;
    height: auto;
    padding: 1%;
    font-size:18px;
    color: rgb(0, 112, 176);
    background: #efefef;
    font-weight: normal;
	cursor : pointer;
   /* margin-bottom: 15px;*/
}

h5{
    font-family: arial;
   margin-bottom:10px;
   margin-top:0px;
    height: auto;
   border-bottom:1px dashed #dbdbdb;
    font-size:16px;
    color: #333;
    padding-bottom: 8px;
}
.topic{
    font-size:16px;
    color: rgb(0, 112, 176); 
}
td{
    line-height: 2.5;
}
.topiccontent{
    width:98%;
    height: auto;
    float: left;
    min-height: 250px;
    padding: 1%;
    border:1px solid #dedede;
}
.videobox{
    width:230px;
    height: 200px;
    float: left;
    border:1px solid #dedede;
    margin-left: 20px;
    margin-bottom: 30px;
}
.list{
    width:190px;
    font-family: arial;
    font-size:16px;
    color: #666;
    padding-top: 12px;
    padding-bottom: 12px;
    border-bottom:1px dashed #666;
    list-style-type: none;
}
.list a:link{
text-decoration:none;
color:#666;
}
.list a:active{
text-decoration:none;
color:#666;
}
.list a:visited{
text-decoration:none;
color:#666;
}
.list1{
    font-family: arial;
    font-size:14px;
    line-height: 2.5;
    color: #555;
    /*list-style: decimal;*/
}
.list:hover{
    background: #efefef;
    color: rgb(0, 112, 176);
}
.list a:hover{
 color: rgb(0, 112, 176);
text-decoration:none;
}
.active{
     background: #efefef;
    color: rgb(0, 112, 176);
}
#container_right{
    width:755px;
    height: auto;
    float: left;

    min-height: 800px;
    margin-left: 20px;
}
#footer{
    width:100%;
    height: 100px;
    float: left;
    background: url(images/footerbg.jpg) repeat;
    border-top:2px solid #efefef;
}
#footer_content{
    width:1000px;
    height: 100px;
    margin: auto;
}
#footer_leftbar{
    width:400px;
    height: auto;
	text-align:justify;
    padding: 10px;
    padding-left: 50px;
	padding-right: 50px;
    padding-top: 25px;
    float: left;
    font-family: arial;
    font-size:12px;
    color: #333;
    line-height: 1.5;
}
#footer_rightbar{
    width:auto;
    height: auto;
    float: left;
    border-left:1px solid rgb(0, 112, 176);
    padding-left: 30px;
	padding-right:30px;
    margin-top: 20px;
    
}

.welcome{ width:100%; font-family:Arial, Helvetica, sans-serif; font-size:20px; color:#333; text-align:center; padding-top:5px; padding-bottom:5px;}
